footer {
    background-color: rgb(233, 233, 58);
    height: 30px;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    footer {
        font-size: 15px;
        width: 440px;
        text-align: center;
    }
}